.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile

# Package preparation
bin

# Raw data
data/source

# Functions in prep
R/distill_expression.R
R/distill_definition_expression.R
R/compute_MCI_expression.R
man/distill_expression.Rd
man/distill_definition_expression.Rd
man/compute_MCI_expression.Rd

renv/
